*{
	margin: 0;
	padding: 0;
}
body{
	width: 100%;
	height: 100%;
	background: #333333;
}
.wrapper{
	width: 100%;
	height: 100%;
}
.header{
	width: 95%;
	height: 65px;
	/*background: lightgreen;*/
	margin: auto;
	margin-top: 30px;
}
.header span{
	font-size: 25px;
	color: #888888;
	margin-left: 30px;
}

form{
	width: 600px;
	height: 400px;
	border: #888888 2px solid;
	border-radius: 25px;
	margin: 50px auto;
	color:white;
	font-size: 20px;
}
h3{
	margin-left: 180px;
	color: #fff;
}
#t-txt{
	width: 99%;
	height: 30px;
	border-radius: 12px;
}
textarea{
	width: 100%;
	height: 230px;
	border-radius: 20px;
}
#t-btn{
	width: 100%;
	height: 35px;
	background: #0099CC;
	text-align: center;
	border-radius: 17px;
	font-size: 20px;
	line-height: 35px;
	border:#0099CC 1px solid;
	color: white;
	font-weight: 200;
	cursor: pointer;
}
